body, ul, li, img, div, a{
	padding:0;
	margin:0;
	border:none;
}
:target{
	opacity:1;
}
body
{
	ul{
		text-align:left;
		margin:20px 20px 20px 20px;
		li{
			display:inline-block;

			img{
				width:150px;
				opacity:0.85;

				&:hover{
					opacity:1;
				}

			}
		}
	}
	div{
		img{
			height:400px;
			position:absolute;
			opacity:0;
			margin:0px 20px 0px 20px;

			&#pict1{
				opacity:1;
			}
		}
	}
}